<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438183621033-u560hoodnk2nkhakp1guff73b11dierf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438183621033-u560hoodnk2nkhakp1guff73b11dierf</string>
	<key>API_KEY</key>
	<string>AIzaSyCU4hQIPIbW-OIhXGFGiDV4Z-THLTBeifg</string>
	<key>GCM_SENDER_ID</key>
	<string>438183621033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.treasure</string>
	<key>PROJECT_ID</key>
	<string>treasure-hunt-ff639</string>
	<key>STORAGE_BUCKET</key>
	<string>treasure-hunt-ff639.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438183621033:ios:4d482b78354f83720d94b8</string>
	<key>DATABASE_URL</key>
	<string>https://treasure-hunt-ff639.firebaseio.com</string>
</dict>
</plist>