<ActionBar>
    <Label text="Clues"></Label>
</ActionBar>



<GridLayout tkToggleNavButton>
    <RadListView [items]="items"marginRight="-2" backgroundColor="#c4c7b5" >
        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical"
            spanCount="2"></ListViewStaggeredLayout>
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout margin="15" borderRadius="10" backgroundColor="white" padding="10" >
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" horizontalAlignment= "center"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>

